* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
    padding: 0 2rem;
  background: #8758ff;
  justify-content: center;
  align-items: center;

}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  width: 100%;
}

main {
  min-height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

input, textarea { 
  display: block;
  max-width: 300px;
  margin: 0.5rem 0;
}

nav a {
  font-weight: bold;
  margin: 0 0.5rem;
  text-decoration: underline;
}

.TaskBox {
  background: #1A1A40; 
  margin-top: 5rem; 
  padding: 2rem; 
  border-radius: 5px; 
  width: 80%; 
  max-width: 600px; 
  margin: 5rem auto; 
  text-align: center; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  align-items: center;
  justify-content: center;
  display: flex;
}

.BoxTitle{
  color: white;
}

.list {
  background: #1A1A40; 
  margin-top: 5rem; 
  padding: 2rem; 
  border-radius: 5px; 
  width: 80%; 
  max-width: 600px; 
  margin: 5rem auto; 
  text-align: center; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.TodoForm {
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  width: 300px; 
  color: #fff;
  text-align: center; 
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.navbar {
  background-color: #2D3748; 
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  display: flex; 
  gap: 1rem; 
  justify-content: center; 
  flex: 1; 
}

.nav-link {
  color: #ffffff; 
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s;
  padding: 0.5rem 1rem; 
}

.nav-link:hover {
  color: #dddddd; 
}

.note-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 1rem; 
  max-width: 60%;
  margin: 1rem auto; 
}

.note-container h2 {
  font-size: 1.5rem; 
  margin-bottom: 0.5rem; 
}

.note-container h5 {
  font-size: 1.2rem; 
  color: #333; 
  margin-bottom: 0.5rem; 
}

.note-container p {
  font-size: 1rem; 
  color: #666; 
  margin-bottom: 0; 
}

.note-content{
  flex: 1;
  width: 80%
}

.note-icons{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
}

.note-icons > * {
  padding: 5px 0;
}

.completedTitle {
  margin-top: 100px;
  margin-bottom: 50px;
}

/* Styles for delete popup */

.backdrop {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px); 
  z-index: 999; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop.hidden{
  display: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-container p {
  margin-bottom: 1rem;
}

.popup-container button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

/* style for edit popup */

.edit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1A1A40;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

.edit-popup h3 {
  margin-top: 0;
  color: white
}

.edit-popup input,
.edit-popup textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.edit-popup button {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.edit-popup button:hover {
  background: #5a2d9c; 
}

.edit-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.clearTaskButton{
  margin-top: 50px;
  background: #1A1A40;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-family: inherit;
  font-size: 17px;
}